In [1]:
import pandas as pd
from pydantic import BaseModel, field_validator, ValidationError
import os
from datetime import  datetime
import phonenumbers
import os,tabulate
import numpy as np
import random

In [2]:
def loading_dataset(filename,filename1,filename2,filename3,filename4):
    path = os.path.abspath('C:/Users/Balli/Pictures/')
    if path:
        fullpath = os.path.join(path,filename)
        fullpath1 = os.path.join(path,filename1)
        fullpath2 = os.path.join(path,filename2)
        fullpath3 = os.path.join(path,filename3)
        fullpath4 = os.path.join(path,filename4)

        dataset_weblog = pd.read_csv(fullpath)
        dataset_ipinfo = pd.read_csv(fullpath1)
        dataset_product= pd.read_csv(fullpath2)
        dataset_transaction= pd.read_csv(fullpath3)
        dataset_customer = pd.read_csv(fullpath4)

        df = dataset_weblog.copy()
        df1 = dataset_ipinfo.copy()
        df2 = dataset_product.copy()
        df3 = dataset_transaction.copy()
        customer_dataset = dataset_customer.copy()

#perform a join querry of our two dataset that are related 
        weblog_ipinfo_dataset = pd.merge(df,df1, on='IP',how='left')
        transactn_product_dataset = pd.merge(df3,df2, on='ProductID',how='left')
        return weblog_ipinfo_dataset,transactn_product_dataset,df,customer_dataset

In [3]:

def model_creation():
    class customerweb_infomodel(BaseModel):
        timespent_perday: int
        no_pages_visited: int
        location: str
        hour_session_starts: int
        was_there_purchase: int
        
# creating validation for column number of pages visited
        @field_validator('no_pages_visited')
        def check_pages_visited(cls, value):
            if value <= 0:
                raise ValidationError('Pages visited field can not be less than 0')
            else:
                return value
            
# creating validation for column was there a purchase to convert integer to a string answer of Yes or No 
        @field_validator('was_there_purchase')
        def purchase(cls, value):
            if value == 1:
                return 'Yes'
            else:
                return 'No'

    class transaction_model(BaseModel):
        productname:str
        price: float
        date: datetime
        hour_of_transaction: int

        @field_validator('price')
        def check_price(cls, value):
            if value:
                return f'${value}'
            elif value <= 0:
                raise ValidationError('Price must be greater than 0')
            else:
                return None
            

    class webpages_visitedmodel(BaseModel):
        last_web_pagevisited: str
        no_of_time_pagevisited: int

    return {
        'customerweb_infomodel': customerweb_infomodel,
        'transaction_model': transaction_model,
        'webpages_visitedmodel': webpages_visitedmodel}

In [4]:
def customerweb_record(df):           
        model = model_creation()
        customerweb_infomodel = model['customerweb_infomodel']        
        if not df.empty:        
                df['timestamp'] = pd.to_datetime(df['timestamp'],unit='s')

        # filtering the date out of the datetime
                df['date'] = df['timestamp'].dt.date

        # filtering the hour of user session out of datetime
                df['hour'] = df['timestamp'].dt.hour

                
                customerweb_recordtable=df.groupby(['UserId','date','hour','Location','product_to_cart']).agg(
                                                timespentdaily=('Duration','sum'),
                                                pages_visited=('Address','count')).reset_index()
                
                customerweb_recordtable.drop_duplicates(subset=['UserId'])
                

        # defining a variable list to store data for the model customer_web_info       
                data_list = []
        # Iterating over the customer web record table to load our model with data
                
                for _, row in customerweb_recordtable.iterrows():
                        try:    
                                customerweb_table = customerweb_infomodel(timespent_perday=row['timespentdaily'] ,
                                                        no_pages_visited=row['pages_visited'],
                                                        location=row['Location'],
                                                        hour_session_starts=row['hour'],
                                                        was_there_purchase=row['product_to_cart'])
                                
                                data_list.append(customerweb_table.model_dump())
                        except Exception as error:
                                print(f'error:{error}')

        # converting data list to pandas dataframe
                if data_list:
                        customerweb_record_df=pd.DataFrame(data_list)
                        print(tabulate.tabulate(customerweb_record_df.set_index('timespent_perday'),headers=customerweb_record_df.columns.tolist(),tablefmt = 'heavy_grid'))
                
        #saving our file/dataset as csv
                customerweb_record_df.to_csv('Customer web record.csv', index=False)
                print('Customer web record saved successfully')

In [5]:
def transactn_record(df):
    model = model_creation()
    transaction_model = model['transaction_model']
    if not df.empty:
    
# converting to datetime to be able to get the date and hour of  daily transaction
        df['transactn_time'] = pd.to_datetime(df['time_transactn'],unit='s')

# filtering the date out of the datetime
        df['date'] = df['transactn_time'].dt.date

#filtering the hour of transaction out of datetime
        df['hour'] = df['transactn_time'].dt.hour

#creating a dictionary of our new formated dataset
        DictData={'date':df['date'],
                'houroftransactn':df['hour'],
                'productname':df['Productdescriptn'],
                'price':df['price']}

#converting to pandas dataframe
        final_dataset=pd.DataFrame(DictData)
    
 #stacking final engineered dataset into the transaction table or model earlier defined above

        transaction_datalist = []
        # iterating over finaldata1 to load our model
        for _, row in final_dataset.iterrows():
            transaction_table = transaction_model(productname=row['productname'],
                                                date= row['date'], 
                                                hour_of_transaction=row['houroftransactn'], 
                                                price=row['price'])
            
            transaction_datalist.append(transaction_table.model_dump())
# converting transaction datalist to pandas dataframe
        if transaction_datalist:
                transactn_df=pd.DataFrame(transaction_datalist)
                print(tabulate.tabulate(transactn_df.set_index('productname'),headers=transactn_df.columns.tolist(),tablefmt = 'heavy_grid'))
                # saving our data table as csv
                transactn_df.to_csv('transaction record.csv', index=False)
                print('transaction record saved successfully')

In [6]:
def lastwebpage_visited_no(df):
    model = model_creation()
    webpages_visitedmodel = model['webpages_visitedmodel']
    if not df.empty:
        df.fillna({'Link': 'Link unavailable'},inplace = True)

# Group by the Address column and count occurrences
        webpages_visitedtimes_df = df.groupby('Address').size().reset_index(name='count')

#set a list variable to store our table data
        datatable = []

#iterate over the last_page_count table and load into our model
        for _, row in webpages_visitedtimes_df.iterrows():
            model_data=webpages_visitedmodel(last_web_pagevisited=row['Address'],
                                                no_of_time_pagevisited=row['count'])
            datatable.append(model_data.model_dump())
#convert our data table 3 into pandas dataframe
        if datatable:
            lastweb_visited_no=pd.DataFrame(datatable)
            print(tabulate.tabulate(lastweb_visited_no.set_index('last_web_pagevisited'),headers=lastweb_visited_no.columns.tolist(),tablefmt = 'heavy_grid'))
# saving our file/data  as csv
            lastweb_visited_no.to_csv('Customer last webpage vistedcount.csv', index=False)
            print(' Document saved successfully')

In [ ]:
def promotion_record(df):

    if not df.empty:

        # The Gender column is empty, and since there is no module in python currently to decipher
        # male or female from the names. it became sacrosanct to use Excel and manually fill this column since
        # we can decipher male names from female names by bare looking at it.

        # now let us deal wit outliers
        # from the dataset it can be noticed that the age column have an outlier which is 500, because no human in the generation
        # can live to 500 years

        # because this dataset is no many and we can easily spot outliers so we may not need to use IQR method but directly
        # replace the outlier with the mean or median or mode as the case may be, but for this dataset, i may have to use mean
        
        # Now i am going t replace the outlier with the mean_age
        df['age'] = df['age'].apply( lambda x: df['age'].mean() if x >= 500 else x)
        
# replacing the null value in the age column with the median age
        df.fillna({'age':df['age'].median()},inplace=True)
        df['age'] = df['age'].astype(int)

# Now cleaning the Education column and replacing the null with the most frequent education category

        df['education'].value_counts(dropna=False)
        df.fillna({'education':df['education'].mode()[0]},inplace=True)
# stripping off excess whitespaces in the Education column
        df['education']= df['education'].str.strip()

# Now cleaning the income column to replace the null with the mean income and adding the $ sign
        
        df.fillna({'income':round(df['income'].mean(),2)},inplace=True)
        def add_currencySign(income):
            if income:
                return '${:,}'.format(income)
            else:
                return None
        df['income']= df['income'].apply(add_currencySign)

# Now cleaning the Consent column to replace any string to integer and convert datatype to int
        df['consent']= df['consent'].apply(lambda x: 1 if x == 'i' else x).astype(int)

# Cleaning the phone number column and also creating a link for one-time click dial Filling any phone number that is less 10 digit

        df['phone']= df['phone'].apply(lambda x: int(random.randint(10**9,10**10)) if pd.isnull(x) else int(x)).astype(str).str.zfill(10)

# Trimming any phone number that is greater than 10 digits
        df['phone'] = df['phone'].str.slice(0,9)

# Now converting the phone number column to proper phone number standard using the python phonenumber module
        def format_phone_number(phone):
            try:
                # Parse the phone number
                parsed_number = phonenumbers.parse(phone, "CA")
                # Format the phone number in E.164 format
                formatted_number = phonenumbers.format_number(parsed_number, phonenumbers.PhoneNumberFormat.E164)
                return formatted_number
            except phonenumbers.NumberParseException:
                return phone 
            
# Now applying the function format_phone_number to the phone column of our dataset
        df['phone']= df['phone'].apply(format_phone_number)

# Final step is to create a link on the phone column so that this can aid auto-dail by creating a function

        def clickable_phone(phone):
            if phone:
                return f'<a href="{phone}">{phone}</a>'
            else:
                return None

        df['phone']= df['phone'].apply(clickable_phone)

        print(tabulate.tabulate(df.set_index('name'),headers=df.columns.tolist(),tablefmt = 'heavy_grid'))

# To enable the customer rep to dial customer phone numbers automatically, we need to save te dataset in an html format
# this will enable the dataset to e opened through a browser and then giving the link to auto dial a number

        df.to_html('customerdataset.html',escape=False,index=False)
        print('dataset saved in html file successfully')

In [8]:
weblog_ipinfo,transactn_product,weblog,customer = loading_dataset('store_web_log.csv','ip_info.csv','store_product_table.csv','store_transaction_records.csv','customerdata.csv')
customerweb_activity = customerweb_record(weblog_ipinfo)
transactionrecord = transactn_record(transactn_product)
customer_lastwebpage_visited = lastwebpage_visited_no(weblog)
promotion_calls = promotion_record(customer)

c:\Users\Balli\AppData\Local\Programs\Python\Python312\Lib\site-packages\pydantic\main.py:364: UserWarning: Pydantic serializer warnings:
  Expected `int` but got `str` - serialized value may not be as expected
  return self.__pydantic_serializer__.to_python(
c:\Users\Balli\AppData\Local\Programs\Python\Python312\Lib\site-packages\pydantic\main.py:364: UserWarning: Pydantic serializer warnings:
  Expected `float` but got `str` - serialized value may not be as expected
  return self.__pydantic_serializer__.to_python(

┏━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━┓
┃   timespent_perday ┃   no_pages_visited ┃ location                  ┃   hour_session_starts ┃ was_there_purchase   ┃
┣━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━┫
┃                195 ┃                  3 ┃ Ontario, Canada           ┃                    19 ┃ No                   ┃
┣━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━┫
┃                 41 ┃                  1 ┃ Ontario, Canada           ┃                    19 ┃ Yes                  ┃
┣━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━┫
┃                272 ┃                  3 ┃ Texas, United States      ┃                    19 ┃ No                   ┃
┣━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━┫
┃                 60 ┃                  1 ┃ Texas, United States      ┃                    19 ┃ Yes                  ┃
┣━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━┫
┃                204 ┃                  4 ┃ Texas, United States      ┃                    19 ┃ No                   ┃
┣━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━┫
┃                 54 ┃                  4 ┃ California, United States ┃                    18 ┃ No                   ┃
┣━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━┫
┃                 66 ┃                  1 ┃ California, United States ┃                    18 ┃ Yes                  ┃
┣━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━┫
┃                482 ┃                  4 ┃ California, United States ┃                    18 ┃ No                   ┃
┣━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━┫
┃                148 ┃                  3 ┃ California, United States ┃                    18 ┃ Yes                  ┃
┣━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━┫
┃                349 ┃                  4 ┃ Texas, United States      ┃                    19 ┃ No                   ┃
┣━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━┫
┃                121 ┃                  2 ┃ Texas, United States      ┃                    19 ┃ Yes                  ┃
┣━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━┫
┃                106 ┃                  3 ┃ Ohio, United States       ┃                    19 ┃ No                   ┃
┣━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━┫
┃                102 ┃                  3 ┃ Ohio, United States       ┃                    19 ┃ Yes                  ┃
┣━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━┫
┃                198 ┃                  3 ┃ California, United States ┃                    18 ┃ No                   ┃
┗━━━━━━━━━━━━━━━━━━━━┻━━━━━━━━━━━━━━━━━━━━┻━━━━━━━━━━━━━━━━━━━━━━━━━━━┻━━━━━━━━━━━━━━━━━━━━━━━┻━━━━━━━━━━━━━━━━━━━━━━┛
Customer web record saved successfully
┏━━━━━━━━━━━━━━━┳━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━┓
┃ productname   ┃ price   ┃ date                ┃   hour_of_transaction ┃
┣━━━━━━━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━━┫
┃ Red Pants     ┃ $10.99  ┃ 2020-07-28 00:00:00 ┃                    18 ┃
┣━━━━━━━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━━┫
┃ Red Pants     ┃ $10.99  ┃ 2020-07-28 00:00:00 ┃                    19 ┃
┣━━━━━━━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━━┫
┃ Flower Dress  ┃ $25.99  ┃ 2020-07-28 00:00:00 ┃                    20 ┃
┣━━━━━━━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━━┫
┃ Orange Belt   ┃ $13.99  ┃ 2020-07-28 00:00:00 ┃                    20 ┃
┣━━━━━━━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━━┫
┃ Pink Shorts   ┃ $9.99   ┃ 2020-07-28 00:00:00 ┃                    20 ┃
┣━━━━━━━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━━┫
┃ Red Pants     ┃ $10.99  ┃ 2020-07-28 00:00:00 ┃                    21 ┃
┣━━━━━━━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━━┫
┃ Flower Dress  ┃ $25.99  ┃ 2020-07-28 00:00:00 ┃                    21 ┃
┣━━━━━━━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━━┫
┃ Orange Belt   ┃ $13.99  ┃ 2020-07-28 00:00:00 ┃                    21 ┃
┣━━━━━━━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━━┫
┃ Yellow Skirt  ┃ $17.99  ┃ 2020-07-28 00:00:00 ┃                    21 ┃
┣━━━━━━━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━━┫
┃ Red Pants     ┃ $10.99  ┃ 2020-08-02 00:00:00 ┃                     8 ┃
┣━━━━━━━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━━┫
┃ Pink Shorts   ┃ $9.99   ┃ 2020-08-02 00:00:00 ┃                    11 ┃
┣━━━━━━━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━━┫
┃ Blue Pants    ┃ $11.99  ┃ 2020-08-02 00:00:00 ┃                    11 ┃
┣━━━━━━━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━━┫
┃ Green Pants   ┃ $12.99  ┃ 2020-08-02 00:00:00 ┃                    11 ┃
┣━━━━━━━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━━┫
┃ Yellow Skirt  ┃ $17.99  ┃ 2020-08-02 00:00:00 ┃                    11 ┃
┣━━━━━━━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━━┫
┃ Red Pants     ┃ $10.99  ┃ 2020-08-02 00:00:00 ┃                    11 ┃
┣━━━━━━━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━━┫
┃ Blue Pants    ┃ $11.99  ┃ 2020-08-02 00:00:00 ┃                    11 ┃
┣━━━━━━━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━━┫
┃ Green Pants   ┃ $12.99  ┃ 2020-08-02 00:00:00 ┃                    11 ┃
┣━━━━━━━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━━┫
┃ Blue Pants    ┃ $11.99  ┃ 2020-08-02 00:00:00 ┃                    11 ┃
┣━━━━━━━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━━┫
┃ Green Pants   ┃ $12.99  ┃ 2020-08-02 00:00:00 ┃                    11 ┃
┣━━━━━━━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━━┫
┃ Red Pants     ┃ $10.99  ┃ 2020-08-02 00:00:00 ┃                    12 ┃
┣━━━━━━━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━━┫
┃ Yellow Skirt  ┃ $17.99  ┃ 2020-08-02 00:00:00 ┃                    12 ┃
┣━━━━━━━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━━┫
┃ Red Pants     ┃ $10.99  ┃ 2020-08-02 00:00:00 ┃                    12 ┃
┣━━━━━━━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━━┫
┃ Pink Shorts   ┃ $9.99   ┃ 2020-08-02 00:00:00 ┃                    12 ┃
┣━━━━━━━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━━┫
┃ Yellow Skirt  ┃ $17.99  ┃ 2020-08-02 00:00:00 ┃                    12 ┃
┣━━━━━━━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━━┫
┃ Blue Pants    ┃ $11.99  ┃ 2020-08-02 00:00:00 ┃                    12 ┃
┣━━━━━━━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━━┫
┃ Green Pants   ┃ $12.99  ┃ 2020-08-02 00:00:00 ┃                    12 ┃
┣━━━━━━━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━━┫
┃ Pink Shorts   ┃ $9.99   ┃ 2020-08-02 00:00:00 ┃                    12 ┃
┣━━━━━━━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━━┫
┃ Red Pants     ┃ $10.99  ┃ 2020-08-02 00:00:00 ┃                    14 ┃
┣━━━━━━━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━━┫
┃ Pink Shorts   ┃ $9.99   ┃ 2020-08-02 00:00:00 ┃                    16 ┃
┣━━━━━━━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━━┫
┃ Yellow Skirt  ┃ $17.99  ┃ 2020-08-02 00:00:00 ┃                    17 ┃
┣━━━━━━━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━━┫
┃ Red Pants     ┃ $10.99  ┃ 2020-08-07 00:00:00 ┃                     8 ┃
┣━━━━━━━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━━┫
┃ Flower Dress  ┃ $25.99  ┃ 2020-08-07 00:00:00 ┃                     8 ┃
┣━━━━━━━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━━┫
┃ Orange Belt   ┃ $13.99  ┃ 2020-08-07 00:00:00 ┃                     8 ┃
┣━━━━━━━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━━┫
┃ Blue Pants    ┃ $11.99  ┃ 2020-08-07 00:00:00 ┃                    13 ┃
┣━━━━━━━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━━┫
┃ Green Pants   ┃ $12.99  ┃ 2020-08-07 00:00:00 ┃                    13 ┃
┣━━━━━━━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━━┫
┃ Red Pants     ┃ $10.99  ┃ 2020-08-07 00:00:00 ┃                    14 ┃
┣━━━━━━━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━━┫
┃ Blue Pants    ┃ $11.99  ┃ 2020-08-07 00:00:00 ┃                    16 ┃
┣━━━━━━━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━━┫
┃ Green Pants   ┃ $12.99  ┃ 2020-08-07 00:00:00 ┃                    16 ┃
┣━━━━━━━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━━┫
┃ Red Pants     ┃ $10.99  ┃ 2020-08-07 00:00:00 ┃                    18 ┃
┣━━━━━━━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━━┫
┃ Flower Dress  ┃ $25.99  ┃ 2020-08-07 00:00:00 ┃                    20 ┃
┣━━━━━━━━━━━━━━━╋━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━━┫
┃ Orange Belt   ┃ $13.99  ┃ 2020-08-07 00:00:00 ┃                    20 ┃
┗━━━━━━━━━━━━━━━┻━━━━━━━━━┻━━━━━━━━━━━━━━━━━━━━━┻━━━━━━━━━━━━━━━━━━━━━━━┛
transaction record saved successfully
┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━━┓
┃ last_web_pagevisited              ┃   no_of_time_pagevisited ┃
┣━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━━━━━┫
┃ www.store.com/checkout_trans#1543 ┃                        2 ┃
┣━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━━━━━┫
┃ www.store.com/checkout_trans#1545 ┃                        1 ┃
┣━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━━━━━┫
┃ www.store.com/checkout_trans#1546 ┃                        1 ┃
┣━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━━━━━┫
┃ www.store.com/checkout_trans#1547 ┃                        2 ┃
┣━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━━━━━┫
┃ www.store.com/checkout_trans#1548 ┃                        3 ┃
┣━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━━━━━┫
┃ www.store.com/item#1304139212     ┃                        1 ┃
┣━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━━━━━┫
┃ www.store.com/item#1304139220     ┃                        1 ┃
┣━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━━━━━┫
┃ www.store.com/item#205616461      ┃                        3 ┃
┣━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━━━━━┫
┃ www.store.com/item#558925278      ┃                        4 ┃
┣━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━━━━━┫
┃ www.store.com/item#733001998      ┃                        4 ┃
┣━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━━━━━┫
┃ www.store.com/item#762451459      ┃                        1 ┃
┣━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━━━━━┫
┃ www.store.com/main#               ┃                       11 ┃
┣━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━━━━━┫
┃ www.store.com/ty#A39HTATAQ9V7YF   ┃                        1 ┃
┣━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━━━━━┫
┃ www.store.com/ty#AKJHHD5VEH7VG    ┃                        1 ┃
┣━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━━━━━┫
┃ www.store.com/verifypaymnt#1543   ┃                        1 ┃
┣━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━━━━━┫
┃ www.store.com/verifypaymnt#1545   ┃                        1 ┃
┣━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╋━━━━━━━━━━━━━━━━━━━━━━━━━━┫
┃ www.store.com/verifypaymnt#1546   ┃                        1 ┃
┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┻━━━━━━━━━━━━━━━━━━━━━━━━━━┛
 Document saved successfully
        name                                  phone  age       income  \
0       Thom  <a href="+1604907178">+1604907178</a>   67   $754,298.0
1       Thom  <a href="+1908876453">+1908876453</a>   23     $9,000.0
2      Colin  <a href="+1604675894">+1604675894</a>   54    $62,840.0
3      Colin  <a href="+1604675894">+1604675894</a>   54    $62,840.0
4       Phil  <a href="+1509524718">+1509524718</a>   12    $78,000.0
5         Ed  <a href="+1509826727">+1509826727</a>   35   $445,566.0
6     Johnny  <a href="+1604918675">+1604918675</a>   87   $212,121.0
7      Sarah  <a href="+1402289101">+1402289101</a>   65    $36,000.0
8       Yoda  <a href="+1642098256">+1642098256</a>   62    $49,382.0
9     Alexis  <a href="+1604897178">+1604897178</a>   44    $12,344.0
10     Hanna  <a href="+1509786098">+1509786098</a>   32     $1,010.0
11    Rachel  <a href="+1709878923">+1709878923</a>   28   $100,000.0
12      Tina  <a href="+1509200775">+1509200775</a>   19    $77,000.0
13      Paul  <a href="+1509817293">+1509817293</a>   50  $136,938.92
14   Georgia  <a href="+1000090082">+1000090082</a>   44  $136,938.92
15     Riana  <a href="+1108543575">+1108543575</a>   44  $136,938.92
16       Pop  <a href="+1797349258">+1797349258</a>   44  $136,938.92
17     Hanna  <a href="+1509786098">+1509786098</a>   32     $1,010.0
18   Preston  <a href="+1709878923">+1709878923</a>   54  $136,938.92
19    MayMay  <a href="+1070989875">+1070989875</a>   44    $62,840.0
20    Brenda  <a href="+1709878954">+1709878954</a>   38    $43,124.0
21    George  <a href="+1709878929">+1709878929</a>   43    $62,840.0
22     Poppy  <a href="+1710000000">+1710000000</a>   41   $100,100.0
23   Herbert  <a href="+1444878923">+1444878923</a>   76    $23,876.0
24    Walker  <a href="+1234567890">+1234567890</a>   44    $87,234.0
25   Barbara  <a href="+1454545454">+1454545454</a>   60   $666,666.0
26     Laura  <a href="+1700707700">+1700707700</a>   12    $15,678.0
27       Jeb  <a href="+1678975123">+1678975123</a>   34   $223,000.0
28  Prescott  <a href="+1100000000">+1100000000</a>   52    $99,765.0

           education  Gender  consent
0        High School    Male        0
1            College    Male        1
2            college    Male        1
3    graduate school    Male        0
4        High School    Male        1
5            college    Male        1
6            college    Male        0
7    graduate school  Female        0
8            college  Female        1
9        High School  Female        0
10       High School  Female        1
11       High School  Female        1
12       High School  Female        1
13       High School    Male        1
14           College  Female        1
15           college  Female        1
16       High School    Male        1
17       High School  Female        0
18   graduate school    Male        1
19   graduate school  Female        0
20  graduate  school  Female        0
21           college    Male        0
22       High School    Male        1
23       High School    Male        1
24       High School    Male        1
25           college  Female        1
26       High School  Female        0
27       High School    Male        1
28       High School    Male        1
dataset saved in html file successfully